= render 'shared/form_errors', model: f.object

= f.label :name, Bureau.human_attribute_name(:name), class: 'block'
= f.text_field :name

= f.label :slug, Bureau.human_attribute_name(:slug), class: 'block'
= f.text_field :slug

= f.label :description, Bureau.human_attribute_name(:description), class: 'block'
= f.text_field :description, class: 'wide_text_field'

= f.label :content, Bureau.human_attribute_name(:content), class: 'block'
= f.text_area :content, class: 'wide_text_area'
div 
  = f.submit '確認', class: 'button'
