= f.label :name
= f.text_field :name, class: 'text_field'

= f.label :place_1st
= f.text_field :place_1st, class: 'text_field'

= f.label :place_2nd
= f.text_field :place_2nd, class: 'text_field'

= f.label :place_3rd
= f.text_field :place_3rd, class: 'text_field'

= f.label :circle_name
= f.text_field :circle_name, class: 'text_field'

= f.label :budget
= f.number_field :budget, class: 'number_field'

= f.label :circle_sns, class: 'label_small'
= f.text_field :circle_sns, class: 'text_field'

= f.label :memo
= f.text_area :memo, class: 'text_area'

= f.label :order_number
= f.number_field :order_number, class: 'number_field'