/* World Dai Star */
.logo_wds{
  background-color: #FF5E8F;
}

.kokona_wds{
  background-color: #F07B7C;
}

.shizuka_wds{
  background-color: #6F93E7;
}

.kathrina_wds{
  background-color: #FFB83C;
}

.yae_wds{
  background-color: #C7BEF6;
}

.panda_wds{
  background-color: #70DCF3;
}

.chisa_wds{
  background-color: #F3AF9C;
}

.noa_wds{
  background-color: #70437B;
  color: white;
}

.hatsumi_wds{
  background-color: #998EDD;
}

.daikoku_wds{
  background-color: #505053;
  color: white;
}

.nikako_wds{
  background-color: #4195DD;
}

.iruru_wds{
  background-color: #B59158;
}

.shigure_wds{
  background-color: #B5303C;
}

.koyomi_wds{
  background-color: #4E5BA8;
}

.ramona_wds{
  background-color: #FF9B5E;
}

.xue_wds{
  background-color: #F05A5A;
}

.lilja_wds{
  background-color: #83D3D6;
}

.hikari_wds{
  background-color: #E8557E;
}

.iroha_wds{
  background-color: #BAC4D7;
}

.mito_wds{
  background-color: #FFA866;
}

.kamira_wds{
  background-color: #C0F297;
}

.tsubomi_wds{
  background-color: #AE7AD4;
}

.towa_wds{
  background-color: #FF92B1;
}

/* IDOLY PRIDE */
.logo_ipr{
  background-color: #1428FF;
  color: white;
}

.mana_ipr{
  background-color: #F44EB4;
}

.kotono_ipr{
  background-color: #5985DC;
}

.nagisa_ipr{
  background-color: #F96CA0;
}

.saki_ipr{
  background-color: #64D0B9;
}

.suzu_ipr{
  background-color: #F2F046;
}

.mei_ipr{
  background-color: #E13B4F;
}

.sakura_ipr{
  background-color: #FA9A36;
}

.shizuku_ipr{
  background-color: #99CB9A;
}

.chisa_ipr{
  background-color: #E7BAD1;
}

.rei_ipr{
  background-color: #A9E1F0;
}

.haruko_ipr{
  background-color: #C1A7E4;
}

.rui_ipr{
  background-color: #FDFAF1;
}

.yu_ipr{
  background-color: #ABD069;
}

.sumire_ipr{
  background-color: #FFE590;
}

.rio_ipr{
  background-color: #B14F88;
}

.aoi_ipr{
  background-color: #6F76D0;
}

.ai_ipr{
  background-color: #7ACDEF;
}

.kokoro_ipr{
  background-color: #FD9BB4;
}

.threex_ipr{
  background-color: #F2F200;
}
