/* 全体 */
body{
  margin: 0;
  padding: 0;
  font-family:'メイリオ','Meiryo','Meiryo UI','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

table{
  border-spacing: 0;

  & th, td{
    border-bottom: 1px solid gray;
    padding: 5px;
  }
}

.content{
  min-height: calc(100vh - 24px);
  overflow: hidden;
}

.header_logo{
  width: 200px;
  height: 70px;
}

.header_nav{
  background-color: aquamarine;
  height: 70px;
  display: flex;

  ul{
    list-style: none;
    display: flex;
    margin-block-start: 0;
    padding-inline-start: 0;
    & li{
      width: 150px;
      height: 70px;
      text-align: center;
      padding-top: 20px;
    }
  }

  .small{
    display: none;
  }

  @media screen and (max-width:1000px) {
    .big{
      display: none;
    }
    .small{
      display: flex;
    }
  }
  
}

.flash_messages{
  .notice{
    background-color: skyblue;
  }

  .alert{
    background-color: darksalmon;
  }
}

main{
  margin: 8px;
}

footer{
  background-color: aqua;
  text-align: center;
}

/* 記事 */
.article{
  #published_at{
    margin-bottom: 0;
  }

  #updated_at{
    margin-top: 0;
  }

  .jurisdiction_links{
    margin-right: 5px;
  }
}

/* フォーム */
.form{
  .block{
    display: block;
    margin-top: 10px;
  }

  .button{
    display: block;
    margin-top: 10px;
  }

  .check_boxes{
    margin-right: 5px;
    white-space: nowrap;
  }

  .holizontal_buttons{
    margin-right: 10px;
  }

  .wide_text_area{
    width: 300px;
    height: 300px;
  }

  .wide_text_field{
    width: 300px;
  }

  .wide_field{
    width: 300px;
    height: 30px;
    font-size: 120%;
  }
}


/* 個別ページ */

.pages_top{
  .small{
    display: none;
  }

  @media screen and (max-width:1000px) {
    .big{
      display: none;
    }
    .small{
      display: flex;
    }
  }
}

.pages_about{
  .logo{
    width: 80%;
  }
}

.admin_articles{
  .scroll_content{
    overflow-x: auto;
  }

  .articles{
    min-width: 1200px;
    border-spacing: 0;
  }
}