.form{
  .block{
    display: block;
  }

  .button{
    display: block;
    margin-top: 10px;
  }

  .wide_text_area{
    width: 300px;
    height: 300px;
  }

  .wide_text_field{
    width: 300px;
  }
}