.form{
  .block{
    display: block;
    margin-top: 10px;
  }

  .button{
    display: block;
    margin-top: 10px;
  }

  .check_boxes{
    margin-right: 5px;
    white-space: nowrap;
  }

  .holizontal_buttons{
    margin-right: 10px;
  }

  .wide_text_area{
    width: 300px;
    height: 300px;
  }

  .wide_text_field{
    width: 300px;
  }
}