- content_for(:title, "#{@cart.name}のイベントカート - EventCart")
.event_carts_carts_show
  h1 イベントカート
  - if @cart.atlas.present?
  p= "#{l @cart.held_at, format: :with_dow}に#{@cart.place}で開催される#{@cart.name}のイベントカートです。"
  .links
    - if @cart.atlas.present?
      = link_to '会場地図を開く', @cart.atlas, target: :_blank, rel: 'noopener noreferrer'
    = link_to 'カート情報の編集', edit_event_carts_cart_path(@cart)
  h2 買いたいもの一覧
  = link_to '買いたいものの登録', new_event_carts_cart_mark_path(@cart)

  .scroll_x_content
    table.table.marks
      tr 
        th
        th 名称
        th 場所
        th 予算
        th サークル名
        th SNS
      - @cart.marks.decorate.each do |mark|
        tr 
          td.center.medium = mark.translated_status
          td.center.long = link_to mark.name, edit_event_carts_cart_mark_path(@cart, mark)
          td.center.long = mark.place
          td.right.medium = mark.budget
          td.center.long = mark.circle_name
          td.center.short 開く

